{% extends 'base.html'%}

{% block title %}
    <title> Blog Home </title>
{%endblock%}

{% block content %}

    <h1> My first Blog App </h1>
     {% for post in posts %}
         <article>

             <div class="post-title">
                <h2>{{ post.title }}</h2>

                    {%if request.user.is_authenticated %}
                <div>

                 <a href="{% url 'posts:edit' slug=post.slug %}"> Edit </a>
                 <a href="{% url 'posts:delete' slug=post.slug %}"> Delete </a>
                </div>
                 {% endif %}
             </div>

             <h5 class="post-author" >Publish by <i>{{ post.author_or_default }}</i> On {{post.created_on|date:'j F Y'}}</h5>
             <p class="post-excerpt">{{ post.content|safe|truncatewords:50}}</p>

             <form action="{% url 'posts:post' slug=post.slug %}">
                 <button class="btn btn-submit"> Read the article </button>
             </form>

         </article>
     {% endfor %}
{%endblock%}
